*
{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(41, 210, 210, 0.6);
    background-image: url(alexandar-todov-BEiOIJSOt9E-unsplash.jpg);
    

}

nav
{
    background: rgba(23, 22, 22, 0.997);
    height: 70px;
    width: 100%;
    
   

}

.logo
{
    color: white;
    font-size: 35px; 
    line-height: 80px;
    padding: 4px 8px ;
    font-weight: bold;
    border: solid 3px rgb(70, 114, 248);
    display: inline;
    margin-left: 10px;
    border-radius: 5px;
    
}

nav ul
{
    float: right;
    margin-right: 20px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 13px;
    border-radius: 3px;
}

a.active,a:hover
{
 background: #3699e4;
 transition: .5s;

}

.closebtn,.menubtn
{
    font-size: 30px;
    margin: 0px 20px;
    display:none;
    float: right;
    margin-top: 10px;
    border: solid 3px white;
    border-radius: 7px;
    color: azure;

}
/*... Background Image ...*/

.main-image
{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
}



.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  min-height: 100vh;
   background: linear-gradient(135deg, #050505, #0a0044);
  color: white;
  
}

.hero-content {
  max-width: 40%;
  
  border-radius: 7px;
  display: block;
}

.hero-content .intro {
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0.8;
}

.hero-content h1 {
  font-size: 50px;
  margin: 15px 0 10px;
}

.hero-content h1 span {
  color: #ff005c;
}

.hero-content h2 {
  font-size: 22px;
  font-weight: 400;
  color: #ccc;
}

.hero-content h2 span {
  color: #00bfff;
  font-weight: 600;
}




/* Hero Image */
.hero-image img {
  width: 320px;
  height: auto;
  border-radius: 20px;
  border: 3px solid #ff005c;
  box-shadow: 0 0 25px rgba(255, 0, 92, 0.4);
  margin-left: 20px;
}







/*.......Media Query....*/
@media(max-width: 700px)
{
    ul
    {
        display: none;
    }
    .menubtn
    {
        display: block;

    }
}
